*.slo
*.lo
*.o
*.obj
*.d
*.cpp.o

*.gch
*.pch

*.so
*.dylib
*.dll

*.mod

*.exe
*.out
*.app

/Debug
/build-debug
/build-release
/Release
Debug
Release
build-debug
build-release
build/sig
build/dependencies
build/CMakeFiles
/build/dependencies
/build/CMakeFiles
/dependencies/luaintf
/dependencies/OAL
dependencies/luaintf
dependencies/OAL