*.slo
*.lo
*.o
*.obj
*.d
*.cpp.o

*.gch
*.pch

*.so
*.dylib
*.dll

*.mod

*.exe
*.out
*.app

/Debug
/build-debug
/build-release
/Release
Debug
Release
build-debug
build-release
build
/build
/build/.*
